body
{
 background: black;
}
img {
	float: left;
  border: 1px solid red;
  border-radius: 4px;
  padding: 9px;
  width: 90px;
  height: 90px;
}

img:hover {
  box-shadow: 0 0 1px 1px rgba(0, 100, 200, 1);
}

a {
  color: yellow;
  text-align: center;
}

h1 {
  color: white;
  text-align: center
}

div{
	  height: 30px;

}
