body {    
    background-image: url(../background.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.hi, h1 {
    font-size: 2.5rem;
    color: white !important;
}

p {
    color: white !important;
    text-decoration: none !important;
    text-decoration-color: white !important;
    align-content: center !important;
}

.row {
    margin: 0 !important;
}

.pic-name {
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 1px;
}