img{
  border-radius: 100px;
  margin-bottom: -20px;
}

body{
  background-image: linear-gradient(to left,pink,orange);
  
}
a{
  color:black;
  text-decoration: underline;

}
h1{
  font-family: cursive;
  font-size: xx-large;	
  color:white;
  text-shadow: 7px 4px 5px black;

}