body{
	
}

.caja{
  background-color: orange;
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
  border-radius: 10px;
  margin-bottom: 70px;
}
.caja:hover{
	background-color: red ;
	box-shadow: 0px 0px 5px 3px red;
	opacity: 0.5;
}

.caja a{
  margin-top: 80%;
  text-align: center;
  color: red;

}

.cabeza{
  text-align: center;

}

hr {
  border:none;
  height: 20px;
  width: 90%;
height: 50px;
margin-top: 0;
border-bottom: 1px solid #1f1209;
box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
  margin-bottom: 20px;
}

