/* Establece el color de fondo */
body {
    background-color: #f0f0f0; /* Puedes cambiar este valor al color que desees */
}


p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

/* Establece el tamaño máximo para las imágenes */
img {
    max-width: 100%;
    height: auto;
}


