body{
	background-color: #FFCE98;
	border-color: 3px;
	margin: 0px 0px 0px 0px;
}

h1{
	text-align: center;
	font-style: italic;
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	margin-left: 400px;
	background-color: white;
	border-radius: 50px;
	width: 500px;
}

img {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	border-radius: 50px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

img:hover{
	height: 85px;
	width: 85px;
	border: 4px solid orange;
}

div { 
	position: relative;
	display: inline-block;
	width: 170px;
	height: 150px;
	margin-bottom: -2px;
	text-align: justify-all;
	border-top: 2px solid;
	border-bottom: 2px solid;
	text-align: center;
}

div:hover{
	width: 170px;
	height: 150px;
	background-color: silver;
	font-style: italic;
	font-weight: bold;
}

a {
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	margin-top: 6px;
	text-align: left;
}
