<link rel="stylesheet" type="text/css" href="index.php" />

<?php header("Content-type: text/css");

//Creo un array con varios colores
$color[0]='#ff0000';
$color[1]='#00ff00';
$color[2]='#0000ff';

// Elijo un color aleatorio
$i=rand(0,2);
?>

/* indico donde quiero que aparezca el color aleatorio */
body { background-color: <?=$color[$i]?>;}