.header h1{
    text-align: center;
    font-style: normal;
    
}

body {
  background-color: red;
}

tr{
    display: inline;
    margin: 20px;
}

    body {
		background-color: red;
	}

	h1 {
		color: yellow;
		background-color: black;
	}



