body {
  font-family: 'Ubuntu', sans-serif;
  margin: 25px;
}

h1 {
  text-align: center;
}

div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin: 10px;
  float: left;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
