.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    float: center;
    width: 100%;
    height: 100%; 
    background-color: white;
    clear: left;
    flex-wrap: wrap;
}



.flex-item {
    background-color: #99ccff;
    width: 22%;    
    margin: 10px;
    text-align: center;
     -webkit-align-content: center;

}

.flex-item img {
    
    width: 80%;
    /*height: 100%;*/
    padding: 5%;
}

.first {
    -webkit-order: -1;
    order: -1;
}
 h1{
	text-align: center;
 }
 body{
	background-color: #99ccff;
	color: white;
 }
 
