#body{
	background-image:url(src/fondo.png);
}
#pane1{

position:relative;
width:1000px;
height:630px;
margin: 0 auto;
background-color:#000;
border-radius:15px;
border:1px solid #63c;
}
#top{
background-color:#111;
border-radius:15px;
height:100px;
border:1px solid #63c;
}
#margen{
padding-top:5px;
padding-left:45px;
padding-right:50px;
}
#margen table{
width:900px;
}
#margen td{
vertical-align:top;
width:165px;
text-align:center;
padding-top:10px;
background-color:#222;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFF;
}
#margen td:hover{
background-color:#63c;
}
#margen img{
width:155px;
height:110px;
}
#margen img:hover{
width:165px;
height:120px;
}
#footer{
position:absolute;
bottom: 0px;
height:21px;
width:1000px;
float:left;
text-align:center;
background-color:#111;
border-radius:15px;
}
#footerpage{
border-radius:15px;
height:21px;
margin-left:900px;
margin-top:-16px;
background-color:#9999FF;
color:#FFFFFF;

}

#text{
text-align:right;
float:right;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
margin-right:10px;
margin-top:3px;
}
#footer img{

border:0px;
padding-top:4px;
padding-left:2px;
padding-right:2px;
}
