.float 
{
float: left; 
}

.body {
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

/* Titulo */
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 90px;
    text-align: center; 
    color: #2c3e50;
    margin: 20px;
    margin-bottom: 80px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}


/* Div Tabla */
.TablaCSS {
    display: flex;
}

table {
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

/* Tabla > Celdas */
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
th {
    background-color: #4CAF50;
    color: white;
}

/* Tabla > Color */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Tabla > Imagenes */
td img {
    border-radius: 8px;
}

/* Tabla > Enlaces */
td a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}
    td a:hover {
        color: #1d70b8;
        text-decoration: underline;
    }
