h1 {
	text-align: center;
	font-family: FreeMono;
	text-decoration: underline;
	font-size: 65px;
	background-color: #aeff00;
	width: 60%;
	margin: auto;
}
div {

	width: 17%;
	height:50%;
	float: left;
	text-align: center;
	padding-top: 10px;
	margin: 10px;
	border-style: solid;
	border-radius: 30px;
	border-color: #b95916;
	background-color: #fcff5d;

}
body {
	background-image: url("banana.png");
	margin-left: 4%;
	background-size: 80px;
}