
  body {
    color: purple;
    background-color: black }

h1{
background-color: white;
color: blue;
text-align: center;
font-size: 250%;
font-family: courier;
}

img {
  display: block;
  margin: 0 auto;
}

