/* Colores de fondo */
body {
  background-color: #FF5733; /* Rojo */
}

.header {
  background-color: #3498db; /* Azul */
}

.navbar {
  background-color: #27ae60; /* Verde esmeralda */
}

.content {
  background-color: #f1c40f; /* Amarillo */
}

.sidebar {
  background-color: #9b59b6; /* Morado */
}

.footer {
  background-color: #e74c3c; /* Rojo oscuro */
}

/* Colores de texto */
h1 {
  color: #e74c3c; /* Rojo oscuro */
}

h2 {
  color: #3498db; /* Azul */
}

p {
  color: #27ae60; /* Verde esmeralda */
}

a {
  color: #f1c40f; /* Amarillo */
}

/* Botones */
.button-primary {
  background-color: #3498db; /* Azul */
  color: #fff; /* Blanco */
}

.button-secondary {
  background-color: #e74c3c; /* Rojo oscuro */
  color: #fff; /* Blanco */
}

.button-success {
  background-color: #27ae60; /* Verde esmeralda */
  color: #fff; /* Blanco */
}

.button-warning {
  background-color: #f1c40f; /* Amarillo */
  color: #333; /* Texto oscuro */
}

.button-info {
  background-color: #3498db; /* Azul */
  color: #fff; /* Blanco */
}

/* Otra personalización según sea necesario */

