body {
    background-color:  pink;
    position: absolute;
  }

h1{
    font-size: 100;
    font-style: italic;
}


ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 10px;
}

img{
    border-image: linear-gradient(#e14343, #dfe228) 30;
    border-width: 4px;
    border-style: solid;
}