ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 10px;
}

li {
    height: 100px;
    width: 100px;
    display: flex;
    flex-flow: column;
}
