h1 {
	text-align: center;
	font-size: 4em;
	color: #DFC2F2;
	box-shadow: 10px 10px 110px #344055;
	margin: auto auto 1em;
	font-family: 'Libre Barcode 39 Text', cursive;
	font-weight: 400;
	background-color: #344055;
	width: 70%;
	padding-top: 10px;
	padding-bottom: 25px;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	background-color: #CFB3CD;

}

#container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.content {
	position: relative;
	padding: 4px;
	border: 2px solid #266DD3;
	float: left;
	height: 100%;
	width: 180px;
	background-color: #344055;
	border-radius: 50%;
}

.content img {
	border-radius: 50%;
	padding: 5%;
	width: 90%;
	height: 90%;
}

a {
	margin: 20px;
	height: 175px;
}

.author {
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0);
	height: 100%;
	width: 100%;
}

.author:hover {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	text-align: center;
	line-height: 10;
=======
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	background-color: #CFB3CD;

}

#container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.content {
	position: relative;
	padding: 4px;
	border: 2px solid #266DD3;
	float: left;
	height: 100%;
	width: 180px;
	background-color: #344055;
	border-radius: 50%;
}