h1 {
	text-align: center;
}

#content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}


a{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 10px;
	text-decoration: none;
	color: black;
	border: 2px solid;
	text-align: center;
	background-color: lightcyan;


}
body {	
	font-family: courier new;
	background-color: darkcyan;
}
