.title{
    text-align: center; color: whitesmoke;
    background-color: rgb(195, 15, 211);    
    border-radius: 3px;
}
table {
    width: 100%;
    border-collapse:  collapse;
    margin-bottom: 90px;
    color: white;

}

th, td {
    border: 5px solid #ccc;
    border-color: black;
    padding: 20px;
    text-align: center;
    background-color: wheat;
}

th {
    background-color: violet;
}

.tableImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.tableImage:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.tableName {
    font-weight: bold;
}

.textaligne{
    text-align: center;
    color:blueviolet;
    
}
