/* styles.css */

body {
    background-color: #2BCDEE;
}

#title {
    color: yellow;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.grid-item {
    text-align: center;
}

.grid-row {
    grid-column: 1 / -1;
}
