body {
  background-color: #2A3439;
  text-align: center; /* Añadido para centrar el texto en el body */
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 5px; 
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li img {
  max-width: 100%;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

li .name {
  margin-top: 10px;
}

li a:hover {
  background-color: #999999;
  border-radius: 5px;
}
