/* Estilo para la tabla */
table {
  width: 100%; /* Ajusta el ancho de la tabla según tus necesidades */
  border-collapse: collapse;
  margin: 20px auto;
  border: 2px solid #ccc;
}

/* Estilo para las celdas de encabezado */
th {
  background-color: #007bff;
  color: red;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #ccc;
  text-align: center;
}

/* Estilo para las celdas de datos */
td {
  padding: 20px;
  border: 2px solid #ccc;
  text-align: left;
}

/* Estilo para filas impares */
tr:nth-child(odd) {
  background-color: blue;
}
