body {
    background-color: rgb(180, 180, 180);
}
h1 {
    text-align: center;
}
table {
    background-color: rgb(228, 154, 101);
    border: 3px solid rgb(204, 10, 204);
    table-layout: fixed;
    margin: auto;     
    width: 750px;     
    text-align:center;
    border-collapse: collapse;
    
}
.celdas { 
    border: 2px solid rgb(255, 238, 0);
}