body {
    background-color: rgb(180, 180, 180);
}
table {
    background-color: rgb(228, 154, 101);
    border: 3px solid rgb(204, 10, 204);
    table-layout: fixed;

    margin: 45px;     
    width: 480px; 
    text-align: left;    
    border-collapse: collapse;
}

.tg-0pky { 
    border: 2px solid rgb(255, 238, 0);
}