#encabezado {
	position: center;
	width: all;
	height: 50;
	background-color: white;
}

#cuerpo {
	background-color: #a8fffc;
}
#opaco{
	
}



/*#alumnos {
    margin-left: 1cm;
	margin-right: 1cm;
	position: center;
	height: all;
	background-color: white;
	border-radius: 5px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: left;
	position: absolute;
}*/

img.zoom {
    width: 160px;
    height: 160px;
    border: solid black;
    padding: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.rotation {
 -webkit-transform: rotate infinite (-360deg);
 -moz-transform: rotate(-360deg);
 -ms-transform: rotate(-360deg);
 transform: rotate(-360deg);
}

img:hover{
border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}
img:hover{
	filter: opacity(.12);
}

img:hover{
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;}
}


}