a:hover{
    color: pink;
    background-color: aquamarine;
}
img{
    object-fit:contain;
}
div.perfil {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
div.link {
    text-align: center;
    padding: 10px 20px;
}
